<section class="Box_Item">
    <div class="buy_realted_box">
        <div class="buy_box">
            <div class="img_product_box">
                <img src="data:image/<%=product.image.contentType%>;base64,<%=product.image.data.toString('base64')%>">
            </div>
            <div class="text_box">
                <h2><%=product.name%></h2>
                <h4>
                    <%=product.desc%>
                </h4>
            </div>  
            <div class="purchase_box">
                <a href="#" id="purchase_btn"><i class='bx bx-cart-add'></i><p>Purchase</p></a>
                <div class="quantity_box">
                    <span>Quantity</span>
                    <input type="number" id="product_qty" value="1" min="1">
                </div>
                <label class="cost">
                    <p><%=product.price%></p>
                    <label><i class='bx bxs-coin'></i></label>
                </label>
                <input type="checkbox" id="love" class="but">
                <label class="luv" for="love" id="<%=productId%>">
                    <span class="heart" id="love"></span>
                </label>
            </div>
        </div>
        <div class="realted_box">
            <h3>List Order</h3>
            <ul id="purchased_items">
            </ul>
        </div>
    </div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/wishlist.js"></script> 
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/productHandler.js"></script>
</section>