<section class="Box_Item">
    <div class="buy_realted_box">
        <div class="buy_box">
            <div class="img_product_box">
                <img src="data:image/<%=product.image.contentType%>;base64,<%=product.image.data.toString('base64')%>">
            </div>
            <div class="text_box">
                <h2><%=product.name%></h2>
                <h4>
                    <%=product.desc%>
                </h4>
            </div>  
            <div class="purchase_box">
                <a href="#" id="purchase_btn"><i class='bx bx-cart-add'></i><p>Purchase</p></a>
                <div class="quantity_box">
                    <span>Quantity</span>
                    <input type="number" id="product_qty" value="1" min="1">
                </div>
                <label class="cost">
                    <p><%=product.price%></p>
                    <label><i class='bx bxs-coin'></i></label>
                </label>
                <% if (wishlist) { %>
                <% let products = wishlist.wishlist; %>
                <% let isProductInWishlist = products.some(product => product.product.id === productId); %>
                <% if (isProductInWishlist) { %>
                    <input type="checkbox" id="love" class="but" checked>
                    <label class="luv" for="love" id="<%= productId %>">
                        <span class="heart heart-active" id="love"></span>
                    </label>                    
                    <% } 
                    else { %>
                    <input type="checkbox" id="love" class="but">
                    <label class="luv" for="love" id="<%= productId %>">
                        <span class="heart" id="love"></span>
                    </label>
                <% } %> 
                <% }  
                else { %>
                    <input type="checkbox" id="love" class="but">
                    <label class="luv" for="love" id="<%= productId %>">
                        <span class="heart" id="love"></span>
                    </label>
                <% } %>                    
            </div>
        </div>
        <div class="realted_box">
            <h3>Your Cart</h3>
            <ul id="purchased_items">
                <% if (cart && cart.cartItems) { %>
                    <%let products = cart.cartItems%>
                    <%for (let i = 0; i < products.length; i++) { %>
                        <li>
                            <img src="data:image/<%=products[i].product.image.contentType%>;base64,<%=products[i].product.image.data.toString('base64')%>" alt="<%=products[i].product.name%>">
                            <span><%=products[i].product.name%> - <%=products[i].quantity%> pcs - <%=products[i].product.price%> * <%=products[i].quantity%></span>
                            <button class="remove-item" data-item-id="<%=products[i].product.id%>">Remove</button>
                        </li>
                    <%} %>

                <%} else { %>
                    <div>You have to login to view your cart</div>
                <%} %>
            </ul>
        </div>
    </div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/wishlist.js"></script> 
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/productHandler.js"></script>
</section>