<header class="header">
    <nav class="nav container">
        <div class="nav__toggle" id="nav-toggle">
        <i class="fas fa-bars nav__burger"></i>
        <i class="fas fa-window-close nav__close"></i>
        </div>
    </div>
    <div class="nav__menu" id = "nav-menu">
    <ul class = "nav__list">        
        <li  class="active">
            <a href="/Buy" class="nav__link"><i class ="fas fa-shopping-bag "></i></a>
        </li>  
        <li>
            <a href="/Cart" class="nav__link"><i class ="fas fa-shopping-cart"></i></a>
        </li> 
        <li>
            <a href="/Login" class="nav__link"><i class ="fas fa-sign-in-alt"></i></a>
        </li> 
        <div class="indicate"></div>
    </ul>          
</div>
</nav>
<section class="Buy">
    <article>
        <nav>
            <button class="Stream_bt"><span class="coverBt"></span>Stream</button>
            <div class="search_box">
                <div class="search-container">
                    <input type="text" placeholder="Search...">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <div class="result_box">
                    <ul>
                        <li>Vinh</li>
                        <li>Bằng</li>
                    </ul>
                </div>
            </div>
            <div class="right_bx">
                <i class="far fa-moon" id="moon"></i>
                <i class="fas fa-sun" id="sun"></i>
                <i class="fas fa-wifi" id="wifi"></i>
                <i class="fas fa-cog"></i>
                <button id="active_battery"><i class="fas fa-battery-three-quarters" id="battery_icon"></i><span id="battery_level">84%</span></button>
            </div>
        </nav>
        <div class="game1">
            <div class="scroll_item_bt">
               <i class="fas fa-caret-left" id="game_bx_1_left_bt"></i>
               <i class="fas fa-caret-right" id="game_bx_1_right_bt"></i>
            </div>
            <h3><i class="fab fa-bandcamp"></i>Recommend For You</h3>
            <div class="gameBx" id="game_bx_1">
                <% for (let i = 0; i < products.length; i++){ %>
                    <div class="product">
                        <a href="/products/<%=products[i].id%>" class="choose">
                            <img src="data:image/<%=products[i].image.contentType%>;base64,<%=products[i].image.data.toString('base64')%>">
                            <div class="content">
                                <div class="left">
                                    <h5><%=products[i].name%></h5> 
                                </div>
                                <h6><p>Cost: <%=products[i].price%></p></h6>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="game2">
            <h3><i class="fas fa-bomb"></i>List Product</h3>
            <div class="gameBx" id="game_bx_2">       
                <% for (let i = 0; i < products.length; i++){ %>
                    <div class="product">
                        <a href="/products/<%=products[i].id%>" class="choose">
                            <img src="data:image/<%=products[i].image.contentType%>;base64,<%=products[i].image.data.toString('base64')%>">
                            <div class="content">
                                <div class="left">
                                    <h5><%=products[i].name%></h5> 
                                </div>
                                <h6><p>Cost: <%=products[i].price%></p></h6>
                            </div>
                        </a>
                    </div>
                <% } %>              
            </div>
        </div>
    </article>
</section>
<!-- <script src ="/js/importListUser.js"></script> -->
<script src ="/js/handleScrollBar.js"></script>
<script src ="/js/leftBox.js"></script>




