<%-include('head.ejs')%>
    <body>
        <nav class="slide-bar">
            <div class="menu_item">
                <ul class="nav_link">
                    <li class="toggle_slide">
                        <i class="fas fa-bars slidebar-toggle"></i>
                        <img src = "/Media/Logo.png" width="40" height="40" alt="SHOP Ú">
                         <span>ELECTRONICS DEFIANT</span>
                    </li>
                    <li class="c1">
                        <a href="/">
                            <i class='bx bxs-home-circle'></i>
                            <span class="link__name">Home</span>
                            <span class="tooltip-text">This is Home</span>
                        </a>
                    </li>
                    <li class="c2">
                        <a href="/Trending">
                            <i class='bx bx-trending-up' ></i>
                            <span class="link__name">Trending</span>
                            <span class="tooltip-text">This is Trending</span>
                        </a>
                    </li>
                    <li class="c3">
                        <a href="/Contact">
                            <i class='bx bxs-contact' ></i>
                            <span class="link__name">Contact</span>
                            <span class="tooltip-text">This is Contact</span>
                        </a>
                    </li>
                    <li class="c4">
                        <a href="/Love">
                            <i class='bx bxs-book-heart' ></i>
                            <span class="link__name">Wishlist</span>
                            <span class="tooltip-text">This is Wishlist</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    <header class="header">
        <nav class="nav container-fluid">
            <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-bars nav__burger"></i>
            <i class="fas fa-window-close nav__close"></i>
            </div>
        </div>
        <div class="nav__menu" id = "nav-menu">
        <ul class = "nav__list">        
            <li class="choose1">
                <a href="/Buy" class="nav__link"><i class ="fas fa-shopping-bag "></i></a>
            </li>  
            <li class="choose2">
                <a href="/Cart" class="nav__link"><i class ="fas fa-shopping-cart"></i></a>
            </li> 
            <li class="choose3">
                <a href="/Login" class="nav__link"><i class ="fas fa-sign-in-alt"></i></a>
            </li> 
            <div class="indicate"></div>
        </ul>          
        </div>
        </nav>
                 <% if (filename === "Login.ejs") { %> <%-include('Login.ejs')%>
                <% } else if (filename === "Homepage.ejs") { %> <%-include('Homepage.ejs')%>
                <% }
                    else if (filename === "Freepage.ejs") { %> <%-include('Freepage.ejs')%>
                <% }
                else if (filename === "Buypage.ejs") { %> <%-include('Buypage.ejs')%>
                <% }
                else if (filename === "resultSearch.ejs") { %> <%-include('resultSearch.ejs')%>
                <% }
                else if (filename === "User.ejs") { %> <%-include('User.ejs')%>
                <% }   
                else if (filename === "Lovepage.ejs") { %> <%-include('Lovepage.ejs')%>
                <% }
                else if (filename === "Trendingpage.ejs") { %> <%-include('Trendingpage.ejs')%>
                <% }
                else if (filename === "Cartpage.ejs") { %> <%-include('Cartpage.ejs')%>
                <% }
                else if (filename === "Register.ejs") { %> <%-include('Register.ejs')%>
                <% }
                else if (filename === "boxItem.ejs") { %> <%-include('boxItem.ejs')%>
                <% }
                %>                 
        </header>
        <script src ="/js/changeScreen.js"></script>
        <script src ="/js/slideBar.js"></script>    
        <script src="/js/changeIndicate.js"></script>    
    </body>
</html>


