<section class="Wishlist">
    <aside id = "wishlist">
        <h2 class="center">My Wishlist</h2>
    </aside>    
    <% if (wishlist && wishlist.wishlist) { %>
    <div class="gameBx" id="game_bx_2">     
        <%let products = wishlist.wishlist%>  
        <% for (let i = 0; i < products.length; i++){ %>
            <div class="product">
                <a href="/products/<%=products[i].product.id%>" id="<%=products[i].product.id%>" class="wish">
                    <img src="data:image/<%=products[i].product.image.contentType%>;base64,<%=products[i].product.image.data.toString('base64')%>">
                    <div class="content">
                        <div class="left">
                            <h5><%=products[i].product.name%></h5> 
                            <button class="buy_now"><p class="p1">Buy Now</p><p class="p2"><%=products[i].product.price%> $</p></button>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>              
    </div>
    <%}                         
    else { %>
        <div>Init wishlist</div>
    <%} %>    
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/js/importWishlist.js"></script> 
