<section class="Users">
    <div class="top">
        <i class="fas fa-bars slidebar-toggle"></i>
    </div>
        <div class="Activity">
            <div class="title">
                <i class='bx bxs-user'></i>
                <span class="text">Manage Product</span>
            </div>
            <div class="content">
                <div class="Btns">
                    <a>Add Product</a>
                    <a>Remove Product</a>
                </div>
            </div>
            <div class="ProductData">
                <div class="box_title">
                    <span class="data-title">ID</span>
                    <span class="data-title">Product Name</span>
                    <span class="data-title">Cost</span>
                    <span class="data-title">Image</span>      
                </div>
                <div class="box_data">
                    <% for (let i = 0; i < products.length; i++){ %>
                        <div class = "item">
                            <div class="data ID">
                                <span class="data-list"><%=products[i].id%></span>
                            </div>
                            <div class="data name">
                                <span class="data-list"><%=products[i].name%></span>
                            </div>
                            <div class="data phone">
                                <span class="data-list"><%=products[i].price%></span>
                            </div>   
                            <div class="data address">
                                <span class="data-list"><img src="data:image/<%=products[i].image.contentType%>;base64,<%=products[i].image.data.toString('base64')%>" alt=""></span>
                            </div>  
                        </div> 
                        <% } %> 
                    </div>     
            </div>
        </div>             
    </div>
</section>