<section class="Buy">
    <article >
        <nav>
            <label for="cost"></label>
            <form action="/search">
                <select name="numericFilters" id="cars">
                    <option value="price>20">>20</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                  </select>
                  <input type="hidden" name="name" value="">
                  <button>Filter</button>
            </form>
            <div class="search_box">
                <div class="search-container">
                    <form action="/search">
                        <input type="search" id = "input-box" name="name" placeholder="Search...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="result_box"></div>
            </div>
            <div class="right_bx">
                <i class="far fa-moon" id="moon"></i>
                <i class="fas fa-sun" id="sun"></i>
                <i class="fas fa-wifi" id="wifi"></i>
                <i class="fas fa-shopping-cart" id="cart"></i>
                <div id="cart-dropdown" class="dropdown-content hide5">
                    <h3>Your Cart</h3>
                    <ul id="cart-items">
                        <% if (cart && cart.cartItems) { %>
                            <%let products = cart.cartItems%>
                            <%for (let i = 0; i < products.length; i++) { %>
                                <li>
                                    <img src="data:image/<%=products[i].product.image.contentType%>;base64,<%=products[i].product.image.data.toString('base64')%>" alt="<%=products[i].product.name%>">
                                    <span><%=products[i].product.name%> - <%= products[i].product.price %> * <%= products[i].quantity %> = <%= products[i].product.price * products[i].quantity %></span>
                                    <button class="remove-item" data-item-id="<%=products[i].product.id%>">Remove</button>
                                </li>
                            <%} %>
        
                        <%} else { %>
                            <div>You have to login to view your cart</div>
                        <%} %>                        
                    </ul>
                    <button id="checkout-button" onclick="toCart()">Checkout</button>
                </div>
                <button id="active_battery"><i class="fas fa-battery-three-quarters" id="battery_icon"></i><span id="battery_level">84%</span></button>
            </div>
        </nav>
        <div class="game3">
            <h3><i class="fas fa-bomb"></i>List Product</h3>
            <div class="gameBx" id="game_bx_2">       
                <% for (let i = 0; i < products.length; i++){ %>
                    <div class="product">
                        <a href="/products/<%=products[i].id%>" id="product <%=products[i].id%>">
                            <img src="data:image/<%=products[i].image.contentType%>;base64,<%=products[i].image.data.toString('base64')%>">
                            <div class="content">
                                <div class="left">
                                    <h5><%=products[i].name%></h5> 
                                    <button class="buy_now" data-product-id="<%=products[i].id%>" productAll = "<%= products %>"><p class="p1">Buy Now</p><p class="p2"><%=products[i].price%> $</p></button>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>              
            </div>
        </div>
    </article>
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- <script src ="/js/importListUser.js"></script> -->
<script src ="/js/handleScrollBar.js"></script>
<script src ="/js/handleShopping.js"></script>
<script src="/js/changeIndicate.js"></script>  
<script src="/js/addOnetoCart.js"> </script>
<script>
    function toCart(){
        window.location.href = "/Cart"
    }
</script>

