<section class="Trendding">
    <div class="slider_trending" style= "--quantity: 10">
        <div class="itemT" style="--position: 1">
            <div class="item_product">
                <img src="data:image/<%=products[11].image.contentType%>;base64,<%=products[11].image.data.toString('base64')%>" alt="">
                <p><%=products[11].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 2">
            <div class="item_product">
                <img src="data:image/<%=products[1].image.contentType%>;base64,<%=products[1].image.data.toString('base64')%>" alt="">
                <p><%=products[1].name%></p>
            </div>        
        </div>
        <div class="itemT" style="--position: 3">
            <div class="item_product">
                <img src="data:image/<%=products[2].image.contentType%>;base64,<%=products[2].image.data.toString('base64')%>" alt="">
                <p><%=products[2].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 4">
            <div class="item_product">
                <img src="data:image/<%=products[3].image.contentType%>;base64,<%=products[3].image.data.toString('base64')%>" alt="">
                <p><%=products[3].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 5">
            <div class="item_product">
                <img src="data:image/<%=products[4].image.contentType%>;base64,<%=products[4].image.data.toString('base64')%>" alt="">
                <p><%=products[4].name%></p>
            </div>        
        </div>
        <div class="itemT" style="--position: 6">
            <div class="item_product">
                <img src="data:image/<%=products[6].image.contentType%>;base64,<%=products[6].image.data.toString('base64')%>" alt="">
                <p><%=products[6].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 7">
            <div class="item_product">
                <img src="data:image/<%=products[7].image.contentType%>;base64,<%=products[7].image.data.toString('base64')%>" alt="">
                <p><%=products[7].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 8">
            <div class="item_product">
                <img src="data:image/<%=products[8].image.contentType%>;base64,<%=products[8].image.data.toString('base64')%>" alt="">
                <p><%=products[8].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 9">
            <div class="item_product">
                <img src="data:image/<%=products[9].image.contentType%>;base64,<%=products[9].image.data.toString('base64')%>" alt="">
                <p><%=products[9].name%></p>
            </div>
        </div>
        <div class="itemT" style="--position: 10">
            <div class="item_product">
                <img src="data:image/<%=products[10].image.contentType%>;base64,<%=products[10].image.data.toString('base64')%>" alt="">
                <p><%=products[10].name%></p>
            </div>
        </div>
    </div>
    <div class="content">
        <h1 data-content="TRENDING PRODUCT">TRENDING PRODUCT</h1>
        <div class="nameStore">
            <h2>ELECTRONIC DEFIANT STORE</h2>
            <div class="model"></div>
        </div>
    </div>
</section>

<script>
    const section = document.querySelector('.Trendding');
    const hahaDiv = document.querySelector('.content');

    const observer = new ResizeObserver(entries => {
        for (let entry of entries) {
            if (entry.contentRect.width < 1200 || entry.contentRect.height < 900) {
                hahaDiv.style.display = 'none';
            } else {
                hahaDiv.style.display = 'block';
            }
        }
    });

observer.observe(section);
</script>